<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nosorae.labs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".LabsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAndroidLabs.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".inbody.BeforeAfterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clean_architecture.hilt.background.service.ServiceActivity"
            android:exported="true" />
        <activity
            android:name=".clean_architecture.hilt.presentation.coin_detail.CoinDetailActivity"
            android:exported="true" />
        <activity
            android:name=".clean_architecture.hilt.presentation.coin_list.CoinListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.compose.ConstraintLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".ui.compose.ListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.compose.MainActivity"
            android:exported="true"
            android:label="@string/app_name">

        </activity>

        <receiver
            android:name=".clean_architecture.hilt.background.broadcast_receiver.LabsBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.nosorae.labs.MY_NOTIFICATION" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".clean_architecture.hilt.background.service.TimerService"
            android:exported="false" />
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            tools:node="merge" />
    </application>

</manifest>