<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nosorae.labs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".LabsApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAndroidLabs.NoActionBar">
        <activity
            android:name=".ui.compose.ConstraintLayoutActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.compose.ListActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.compose.MainActivity"
            android:exported="true"
            android:label="@string/app_name"></activity>


        <receiver android:name=".background.LabsBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.nosorae.labs.MY_NOTIFICATION"/>
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>